#H1{
  -fx-font-size: 28px;
  -fx-text-alignment: center;
  -fx-text-fill: gray;
}

#H2{
  -fx-font-size: 26px;
  -fx-text-alignment: center;
  -fx-text-fill: gray;
}

#H3{
  -fx-font-size: 24px;
  -fx-text-alignment: center;
  -fx-text-fill: gray;
}

#H4{
  -fx-font-size: 22px;
  -fx-text-alignment: center;
  -fx-text-fill: gray;
}

#H5{
  -fx-font-size: 20px;
  -fx-text-alignment: center;
  -fx-text-fill: gray;
}

#H6{
  -fx-font-size: 18px;
  -fx-text-alignment: center;
  -fx-text-fill: gray;
}

#Bold{
  -fx-font-size: 12px;
  -fx-text-alignment: left;
  -fx-text-fill: black;
  -fx-font-weight: bold;
}

#Italic{
  -fx-font-size: 12px;
  -fx-text-alignment: left;
  -fx-text-fill: black;
  -fx-font-style: italic;
}

#Bullet:before{
  content:"• ";
}

#Bullet{
  -fx-font-size: 12px;
  -fx-text-alignment: left;
  -fx-text-fill: black;
}

#Numeric{
  -fx-font-size: 12px;
  -fx-text-alignment: left;
  -fx-text-fill: black;
  -margin-left: 50px;
}

#Normal{
  -fx-font-size: 12px;
  -fx-text-alignment: left;
  -fx-text-fill: black;
}
