#H1{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 40px;
}

#H2{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 36px;
}

#H3{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 32px;
}

#H4{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 28px;
}

#H5{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 24px;
}

#H6{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 20px;
}

#Bold{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

#Italic{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 18px;
  -fx-font-style: italic;
}

#Bullet:before{
  content:"123 ";
}

#Bullet{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 18px;
}


#Normal{
  -fx-font-family: 'Inter UI';
  -fx-font-size: 18px;
}
